[Desktop Entry]
Type=Application
Name=EarBlaster
Comment=An audio player for The Lunduke Computer Operating System
Exec=earblaster
Icon=earblaster
Terminal=false
Hidden=false
Categories=GTK;AudioVideo;Player;Audio;
StartupWMClass=earblaster
StartupNotify=true
